@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** | Page **/
body {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background: hsl(233, 47%, 7%);
  font-size: 15px;
}


/** | Component **/
/**
* Card is:
* CARD
*   IMG
*   BODY
*     HEADER
*     DESCRIPTION
*     NUM-OF-COMPANIES:
*       NoC-HEADER
*       NoC-CONTENT
*     NUM-OF-TEMPLATES:
*       NoT-HEADER
*       NoT-CONTENT
*     NUM-OF-QUERIES:
*       NoQ-HEADER
*       NoQ-CONTENT
**/
.card {
  width: 20rem;
  height: 43rem;
  margin: 4rem auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background: hsl(244, 38%, 16%);

  border-radius: .5rem;

  /** || Image **/
  .card-hero {
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;

      border-radius: .5rem .5rem 0 0;
    }  
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;

      content: '';
      opacity: 40%;
      background-color: hsl(277, 64%, 61%);
      border-radius: .5rem .5rem 0 0;
    }
}

  /** || Card-Body **/
  .card-body {
    padding: 1.3rem;

    /** || Card-Body-Header **/
    .card-header {
      margin: .7rem 0;

      text-align: center;
      font-weight: 700;
      color: hsl(0, 0%, 100%);

      .accent{
        color: hsl(277, 64%, 61%);
      }
    }
    /** || Card-Body-Description **/
    .card-description {
      text-align: center;
      color: hsla(0, 0%, 100%, 0.75);
    }
    /** || Card-Body-Stats blocks **/
    .stats {
      margin: 1.5rem 0;

      text-align: center;

      .stats-header {
        font-weight: 700;
        color: hsla(0, 0%, 100%, 0.6);
      }

      .stats-description {
        font-family: 'Lexend Deca', sans-serif;
        color: hsla(0, 0%, 100%, 0.75);
      }
    }
    /** || Card-Body-Stats-of-Companies **/
    /*.card-stats-companies {
      .card-stats-companies-header { }
      .card-stats-companies-description { }
    }*/
    /** || Card-Body-Stats-of-Templates **/
    /*.card-stats-templates {
      .card-stats-templates-header { }
      .card-stats-templates-description { }
    }*/
    /** || Card-Body-Stats-of-Queries **/
    /*.card-stats-queries {
      .card-stats-queries-header { }
      .card-stats-queries-description { }
    }*/
  }
}

@media (min-width: 1340px) {
  $desktop-card-width: 62rem;

  .card {
    width: $desktop-card-width;
    height: auto;

    flex-direction: row;

    .card-hero {
      width: $desktop-card-width / 2;
      order: 1;

      img {
        border-radius: 0 .5rem .5rem 0;
      }

      &::before {
        border-radius: 0 .5rem .5rem 0;
      }
    }

    .card-body {
      width: $desktop-card-width / 2;
      
      padding: 3rem 5rem 3rem 3rem;

      .card-header {
        text-align: left;
      }
      .card-description {
        width: 92%;
        margin-top: 1.7rem;

        text-align: left;
        line-height: 1.7rem;
      }

      .card-list-of-stats {
        width: 90%;
        margin-top: 3rem;

        display: flex;
        justify-content: space-between;

        .stats-header {
          text-align: left;
        }
      }
    }
  }
}

/** | Footer **/
.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);

  & a {
    color: hsl(228, 45%, 44%);
  }
}