/** | Page **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background: hsl(233, 47%, 7%);
  font-size: 15px;
}


/** | Component **/
/**
* Card is:
* CARD
*   IMG
*   BODY
*     HEADER
*     DESCRIPTION
*     NUM-OF-COMPANIES:
*       NoC-HEADER
*       NoC-CONTENT
*     NUM-OF-TEMPLATES:
*       NoT-HEADER
*       NoT-CONTENT
*     NUM-OF-QUERIES:
*       NoQ-HEADER
*       NoQ-CONTENT
**/
.card {
  width: 20rem;
  height: 30rem;
  margin: 4rem auto;

  background: hsl(244, 38%, 16%);

  border-radius: .5rem;

  /** || Image **/
  img {
    width: 100%;

    border-radius: .5rem;
  }

  /** || Card-Body **/
  .card-body {
    padding: 1.3rem;
  }
}


/** | Footer **/
.attribution {
  font-size: 11px;
  text-align: center;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
  }