@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** | Page **/
body {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background: hsl(233, 47%, 7%);
  font-size: 15px;
}


/** | Component **/
/**
* Card is:
* CARD
*   IMG
*   BODY
*     HEADER
*     DESCRIPTION
*     NUM-OF-COMPANIES:
*       NoC-HEADER
*       NoC-CONTENT
*     NUM-OF-TEMPLATES:
*       NoT-HEADER
*       NoT-CONTENT
*     NUM-OF-QUERIES:
*       NoQ-HEADER
*       NoQ-CONTENT
**/
.card {
  width: 20rem;
  height: 30rem;
  margin: 4rem auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background: hsl(244, 38%, 16%);

  border-radius: .5rem;

  /** || Image **/
  img {
    width: 100%;

    border-radius: .5rem .5rem 0 0;
  }

  /** || Card-Body **/
  .card-body {
    padding: 1.3rem;

    /** || Card-Body-Header **/
    .card-header {
      text-align: center;
      font-weight: 700;
      color: hsl(0, 0%, 100%);

      .accent{
        color: hsl(277, 64%, 61%);
      }
    }
    /** || Card-Body-Description **/
    .card-description {
      text-align: center;
      color: hsla(0, 0%, 100%, 0.75);
    }

    /** || Card-Body-Stats-of-Companies **/
    .card-stats-companies {
      text-align: center;

      .card-stats-companies-header {
        font-weight: 700;
        color: hsla(0, 0%, 100%, 0.6);
      }
      .card-stats-companies-description {
        font-family: 'Lexend Deca', sans-serif;
        color: hsla(0, 0%, 100%, 0.75);
      }
    }
    /** || Card-Body-Stats-of-Templates **/
    .card-stats-templates {
      text-align: center;

      .card-stats-templates-header {
        font-weight: 700;
        color: hsla(0, 0%, 100%, 0.6);
      }
      .card-stats-templates-description {
        font-family: 'Lexend Deca', sans-serif;
        color: hsla(0, 0%, 100%, 0.75);
      }
    }
    /** || Card-Body-Stats-of-Queries **/
    .card-stats-queries {
      text-align: center;

      .card-stats-queries-header {
        font-weight: 700;
        color: hsla(0, 0%, 100%, 0.6);
      }
      .card-stats-queries-description {
        font-family: 'Lexend Deca', sans-serif;
        color: hsla(0, 0%, 100%, 0.75);
      }
    }
  }
}


/** | Footer **/
.attribution {
  font-size: 11px;
  text-align: center;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
  }