/** | Page **/
body {}

/** | Component **/
/**
* Card is:
* CARD
*   IMG
*   HEADER
*   DESCRIPTION
*   NUM-OF-COMPANIES:
*     NoC-HEADER
*     NoC-CONTENT
*   NUM-OF-TEMPLATES:
*     NoT-HEADER
*     NoT-CONTENT
*   NUM-OF-QUERIES:
*     NoQ-HEADER
*     NoQ-CONTENT
**/

/** | Footer **/
.attribution {
  font-size: 11px;
  text-align: center;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
  }